<h1 class='shopping-title'>Shopping list</h1>
<div class='shopping-totals'> 
  <p class='shopping-values'>Amount of food Items to buy: <%= @missing_food_items.size %></p>
  <p class='shopping-values'>Total value of food needed: $ <%= @total_price %></p>
</div>
<div class='shopping-table'>
<table>
 <tr>
 <th>Food</th>
 <th>Qunatity</th>
 <th>Price</th>
 </tr>
 <% @missing_food_items.each do |food| %>
 <tr>
 <td><%= food.name %></td>
 <td><%= food.quantity %></td>
 <td>$<%= food.price %></td>
 </tr>
 <% end %>
</table>
</div>