<h1 class='title'> Recipe 2</h1>
<div class='recipe-detail-container'>
 <section class='preparation'>
   <p class='preparation-info'>Preparation time: <%= @recipe.preparation_time.strftime('%H:%M') %> hours </p>
   <p class='preparation-info'>Cooking time: <%= @recipe.cooking_time.strftime('%H:%M') %>hours</p>
   <p class='preparation-info'>Steps go here...</p>
   <button class='add-btn'>Generate shopping list</button> 
 </section>
 <section class='public-info'>
  <p class='public-title'>Public</p>
  <button class='add-btn'>Add ingredient</button> 
 </section>
</div>

<table>
 <tr>
 <th>Food</th>
 <th>Measurement Unit</th>
 <th>Value</th>
 <th>Actions</th>
 </tr>
 <% @recipe_foods.each do |recipe_food| %>
 <tr>
 <td><%= recipe_food.food.name if recipe_food.food %></td>
 <td><%= recipe_food.food.quantity if recipe_food.food %> </td>
 <td><%= recipe_food.food.price if recipe_food.food %></td>
 <td>
  <button>Modify</button>
  <button>Remove</button>
 </td>
 </tr>
 <% end %>
 <tr>
</table>