<nav class='nav-menu'>
    <%= link_to 'Recipes',recipes_path  %>
    <div class='right'>
     <%= link_to 'Public Recipes',public_recipes_path %>
    <%= link_to 'Shopping List' ,general_shopping_list_path %>
    </div>
</nav>

<div class='btn-container'>
<%= link_to new_food_path do %>
  <button class='add-btn'>Add food</button>
<% end %>
</div>
<table>
 <tr>
   <th>Food</th>
   <th>Measurement Unit</th>
   <th>Unit price</th>
   <th>Actions</th>
 </tr>
 <% @foods.each do |food| %>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.measurement_unit %></td>
      <td>$<%= food.price %></td>
      <td><%= button_to "Delete", food_path(food), method: :delete, data: { turbolinks: false } %> </td>
    </tr>
 <% end %>
</table>